#scenery-config {
  height: auto !important;
  max-height: 500px;
}

table.scenery-table td {
  line-height: 2em;
  vertical-align: middle;
}
td.scenery-gm,
td.scenery-player {
  text-align: center;
}

.scenery-delete ,
.scenery-preview {
  width: 32px;
}