<tr>
  <td class="scenery-name">
    <input type="text" name="{{this.id}}" value="{{this.name}}" placeholder="Variation Name" data-dtype="String">
  </td>
  <td class="scenery-fp">
    <div class="form-fields">
      <input class="image" type="text" value="{{ this.url }}" name="{{id}}-file" data-target="{{id}}-file" data-dtype="String" />
      <button type="button" title="Browse Files" class="file-picker"
        data-type="imagevideo" data-target="{{id}}-file">
        <i class="fa fa-file-import fa-fw"></i>
      </button>
    </div>
  </td>
  <td class="scenery-gm"><input type="checkbox" name="gm" data-dtype="boolean"></td>
  <td class="scenery-player"><input type="checkbox" name="player" data-dtype="boolean"></td>
</tr>